# Data Clean up

Haytham Mohamed - INFS890 Spring 2020

This notebook is to check missing data and outliers

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
from sklearn import preprocessing
from datetime import datetime
from scipy import stats

sns.set()
sns.set(color_codes=True)
#sns.set_color_codes()

pd.options.display.max_rows = 15
pd.options.display.float_format = '{:,.3f}'.format

# Read the raw data. 

All data is in one file, where each metric is listed under each other with three columns: 

1- metric: The name of the metric

2- date: the data and time of the metric

3- value: the metric value

In [2]:
# 1- read data file (from all runs 1 & 2)

file_dir = '/Users/hmohamed/github/data-research-spring2020/raw-data-linode-run3-rules/'
data_file = 'aligned_dataset.csv'

raw_data = pd.read_csv(file_dir + data_file)

raw_data.date = pd.to_datetime(raw_data.date)
raw_data.set_index('date', inplace=True)

raw_data.shape

(4728, 14)

In [3]:
raw_data = raw_data.drop('system_net_sat', 1)
raw_data = raw_data.drop('system_disk_sat', 1)
raw_data = raw_data.drop('system_disk_io', 1)
raw_data = raw_data.drop('system_cpu_sat', 1)

# Check Outliers

In [4]:
raw_data.describe(include="all")

,svc_resp_size,svc_cpu_use,svc_req_rate,system_net_use,svc_pods,svc_net_use,system_cpu_use,svc_ltcy_200,svc_disk_use,svc_req_size
count,"4,728.000","4,728.000","4,728.000","4,728.000","4,728.000","4,728.000","4,728.000","4,728.000","4,728.000","4,728.000"
mean,158.407,4.813,41.640,18.092,16.087,2.618,8.710,6.843,249.418,36.810
std,100.245,13.568,28.273,8.822,10.232,13.665,3.519,4.249,"1,217.813",21.122
min,0.191,-9.299,0.110,2.551,3.000,-12.549,2.770,0.000,-13.022,1.309
25%,84.444,-0.315,20.930,11.709,6.500,-1.591,6.040,1.452,2.188,23.597
50%,151.996,2.733,38.810,17.327,15.000,0.463,7.160,9.990,13.130,34.242
75%,213.096,7.087,54.090,21.669,24.000,3.474,11.420,10.000,57.103,45.837
max,705.249,633.065,196.870,55.856,45.000,511.000,18.260,10.000,"35,499.460",188.819

In [5]:
if 1 == 1: 
    # svc_req_rate
    q = raw_data['svc_req_rate'].quantile(0.90)
    raw_data = raw_data[raw_data['svc_req_rate'] < q]
    
    # svc_req_size
    q = raw_data['svc_req_size'].quantile(0.92)
    raw_data = raw_data[raw_data['svc_req_size'] < q]    
    
    # svc_cpu_use
    q = raw_data['svc_cpu_use'].quantile(0.99)
    raw_data = raw_data[raw_data['svc_cpu_use'] < q]
    
    # svc_net_use
    q = raw_data['svc_net_use'].quantile(0.95)
    raw_data = raw_data[raw_data['svc_net_use'] < q]    
    
    # svc_disk_use
    q = raw_data['svc_disk_use'].quantile(0.70)
    raw_data = raw_data[raw_data['svc_disk_use'] < q]
    
    # svc_resp_size
    q = raw_data['svc_resp_size'].quantile(0.90)
    raw_data = raw_data[raw_data['svc_resp_size'] < q]
    
    #sns.distplot(raw_data['svc_disk_use'])
    
raw_data.shape

(2318, 10)

In [6]:
raw_data.describe(include="all")

,svc_resp_size,svc_cpu_use,svc_req_rate,system_net_use,svc_pods,svc_net_use,system_cpu_use,svc_ltcy_200,svc_disk_use,svc_req_size
count,"2,318.000","2,318.000","2,318.000","2,318.000","2,318.000","2,318.000","2,318.000","2,318.000","2,318.000","2,318.000"
mean,130.267,3.933,33.589,15.815,13.255,0.522,7.600,6.366,5.775,30.509
std,68.140,6.828,17.564,7.011,8.293,3.348,2.756,4.547,8.958,13.238
min,0.614,-9.299,0.110,2.551,3.000,-11.273,2.770,0.010,-12.569,1.922
25%,77.571,-0.625,17.805,10.596,6.500,-1.470,5.910,0.020,-0.960,19.911
50%,139.635,2.305,34.090,15.503,7.000,0.143,6.690,9.920,4.421,32.069
75%,168.170,6.395,49.780,20.697,20.000,2.235,9.120,10.000,11.892,38.611
max,274.009,37.282,73.130,54.049,45.000,12.769,18.110,10.000,28.066,60.309

## Save Dataset to a file

In [7]:
if 1 == 1:
    cleaned_file_path = file_dir + 'no_outliers_dataset.csv'
    raw_data.to_csv(path_or_buf=cleaned_file_path, index=True)