In [1]:
import numpy as np
import pandas as pd
from scipy.stats import binned_statistic
from datetime import datetime

In [3]:
file_dir = '../../data/raw-data-linode-run3/merged/'
concated_data_file = 'all_data.csv'

In [37]:
df = pd.read_csv(file_dir + concated_data_file, header=None, skiprows=1, names=['date', 'value', 'metric'])

df.head(3)

                  date        value           metric
0  2020-02-27 22:49:53  3504.829879  service_cpu_use
1  2020-02-27 22:49:54  5742.951598  service_cpu_use
2  2020-02-27 22:49:55  7981.073317  service_cpu_use

In [45]:
latency = df.loc[df['metric'] == 'service_ltcy_200']
latency = latency.drop(['metric'], axis=1)
latency = latency.rename(index=str, columns={"value": 'service_ltcy_200'})
latency.date = pd.to_datetime(latency.date)   
latency['service_ltcy_200'] = pd.to_numeric(latency['service_ltcy_200'])
latency.set_index('date', inplace=True)
latency.sort_index()

latency.head()

                     service_ltcy_200
date
2020-02-27 22:49:53     308186.000000
2020-02-27 22:49:54     308206.066667
2020-02-27 22:49:55     308226.133333
2020-02-27 22:49:56     308246.200000
2020-02-27 22:49:57     308266.266667

In [48]:
latency.shape

(78841, 1)

In [46]:
# check number of nulls
nulls = latency.isnull().sum()
nulls

service_ltcy_200    0
dtype: int64

In [47]:
min_dt = latency.index.values.min()
max_dt = latency.index.values.max()
print('min date {} max {}'.format(min_dt, max_dt))

min date 2020-02-27T22:49:53.000000000 max 2020-02-28T20:43:53.000000000

In [ ]:
values = latency.values
stats.binned_statistic([0.05, 0.1, 0.15, 5, 7], values, 'sum', bins=2)